body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1647;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.header {
    text-align: center;
    color: #614ad3;
    margin-bottom: 30px;
}

.content-card {
    background: white;
    padding: 40px;
    border-radius: 12px;
    max-width: 500px;
    width: 100%;
}

.custom-input {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.output-text {
    font-weight: bold;
    color: #100c26ba;
}